@import "../courses-programs/courses/courses.component.scss";

.courses-component {
  position: relative;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  z-index: 1000;
  display: none;
}

::ng-deep .mat-snack-bar-container {
  z-index: 1001;
}
