<div class="component">
  <!-- header -->
  <div class="header">
    <p class="mat-h2">Home</p>
  </div>

  <!-- main-content -->
  <mat-card class="card">
    <div class="card-header">
      <mat-tab-group class="tab-group" [(selectedIndex)]="selectedIndex">
        <mat-tab label="Batches & Programs">
          <ng-template matTabContent>
            <app-batches-and-programs *ngIf="selectedIndex === 0"></app-batches-and-programs>
          </ng-template>
        </mat-tab>
        <mat-tab label="Attendance">
          <ng-template matTabContent>
            <app-attendance *ngIf="selectedIndex === 1"></app-attendance>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
    <mat-divider></mat-divider>
  </mat-card>
</div>
