@import "../../../../../admin/Pages/courses-programs/courses/courses.component.scss";
.left-side {
  margin-top: 10px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.mat-row:nth-child(even) {
  background-color: #f5f5f5 !important;
}

.mat-row:nth-child(odd) {
  background-color: white !important;
}

.mat-header-row {
  background-color: #fff !important; /* or any color you prefer for the header */
}
