<div class="batches-and-programs-component">
  <div class="mat-h2">Please select the options below to get results</div>
  <form
    fxLayout="row"
    fxLayoutGap="50px"
    fxLayout.lt-sm="column"
    [formGroup]="batchProgramReactiveForm"
  >
    <!-- batch code batch name -->
    <mat-form-field
      appearance="outline"
      class="dense-form-field-5"
      ngStyle.gt-sm="min-width: 200px"
      ngStyle.gt-md="min-width: 300px"
    >
      <mat-select
        placeholder="Batch Code: Batch Name"
        formControlName="batch"
        (selectionChange)="onBatchChange($event)"
      >
        <mat-option *ngFor="let batch of uniqueBatches" [value]="batch">
          Batch {{ batch.batchCode }}: {{ batch.batchName }}
        </mat-option>
      </mat-select>
      <mat-error>Field must not be empty</mat-error>
    </mat-form-field>

    <!-- batch start date -->
    <mat-form-field
      appearance="outline"
      class="dense-form-field-5"
      ngStyle.gt-sm="min-width: 200px"
      ngStyle.gt-md="min-width: 300px"
    >
      <input
        matInput
        formControlName="batchStartDate"
        placeholder="Batch Start Date"
        [value]="startDate"
        [readonly]="true"
      />
    </mat-form-field>

    <!-- programcode program name -->
    <mat-form-field
      appearance="outline"
      class="dense-form-field-5"
      ngStyle.gt-sm="min-width: 200px"
      ngStyle.gt-md="min-width: 300px"
    >
      <mat-select
        placeholder="Program Code: Program Name"
        formControlName="program"
        (selectionChange)="onProgramChange($event)"
      >
        <mat-option *ngFor="let program of uniquePrograms" [value]="program">
          {{ program.programCode }}: {{ program.programName }}
        </mat-option>
      </mat-select>
      <mat-error>Field must not be empty</mat-error>
    </mat-form-field>
  </form>
    <ng-container *ngIf="dataSource">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Code</th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <ng-container matColumnDef="courseName">
          <th mat-header-cell *matHeaderCellDef>Course Name</th>
          <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
        </ng-container>

        <ng-container matColumnDef="topicsCompleted">
          <th mat-header-cell *matHeaderCellDef>Topics Completed</th>
          <td mat-cell *matCellDef="let element"> {{element.topicsCompleted?.length!=0 ? element.topicsCompleted.join(', ') : "NA"}} </td>
        </ng-container>

        <ng-container matColumnDef="topicsInProgress">
          <th mat-header-cell *matHeaderCellDef>Topics In Progress</th>
          <td mat-cell *matCellDef="let element">
            {{getTopicsInProgress(element)}}
          </td>
        </ng-container>

        <ng-container matColumnDef="courseCompletionPercentage">
          <th mat-header-cell *matHeaderCellDef>Completion %</th>
          <td mat-cell *matCellDef="let element"> {{element.courseCompletionPercentage}}{{" %"}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #e5ecf6"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="background-color: #f3f5f9"></tr>
      </table>
    </ng-container>
</div>

